# Initial Data Exploration

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
train_data = pd.read_csv('train.csv')

In [31]:
train_data.head()

,id,bond_id,trade_price,weight,current_coupon,time_to_maturity,is_callable,reporting_delay,trade_size,trade_type,...,received_time_diff_last9,trade_price_last9,trade_size_last9,trade_type_last9,curve_based_price_last9,received_time_diff_last10,trade_price_last10,trade_size_last10,trade_type_last10,curve_based_price_last10
0,1,1,128.596,11.316404,5.95,26.031126,0,1.731,120000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,126.673,8.763446,5.95,26.016697,0,30.518,85000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,126.880,6.499730,5.95,26.008760,0,4.424,4200000,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,126.362,0.865854,5.95,26.008619,0,43.059,5000001,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,124.918,11.938543,5.95,25.981840,0,6.332,10000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
train_data.shape

(762678, 61)

Our **training** data has 762,678 rows and 61 features

In [20]:
bond_ids = np.array(train_data.bond_id).tolist()

In [19]:
len(set(bond_ids))

3736

There are 3736 **unique** bond ids, in the training set.

In [21]:
test_data = pd.read_csv('test.csv')

In [32]:
test_data.tail()

,id,weight,current_coupon,time_to_maturity,is_callable,reporting_delay,trade_size,trade_type,curve_based_price,received_time_diff_last1,...,received_time_diff_last9,trade_price_last9,trade_size_last9,trade_type_last9,curve_based_price_last9,received_time_diff_last10,trade_price_last10,trade_size_last10,trade_type_last10,curve_based_price_last10
61141,823820,0.131848,5.625,7.822351,0,3.054,15000,3,87.727603,102,...,2050.0,87.182,100000.0,2.0,87.660500,2220.0,88.250000,25000.0,4.0,87.660500
61142,823821,0.012991,4.950,3.721057,0,7.063,40000,4,99.563152,0,...,13646.0,100.750,10000.0,4.0,99.388379,16055.0,100.750000,25000.0,4.0,99.358992
61143,823822,3.942687,5.950,17.049668,0,2.370,7000,2,126.686954,92102,...,605240.0,123.369,11000.0,4.0,125.867041,605267.0,123.369000,11000.0,2.0,125.867041
61144,823823,0.022502,11.250,4.214376,1,2.847,10000,4,85.449365,2,...,7218.0,85.875,100000.0,3.0,86.079640,73747.0,85.750000,97000.0,2.0,86.084591
61145,823824,0.180949,5.375,8.326506,0,8.371,10000,4,96.362306,193,...,2744.0,97.902,7000.0,3.0,96.389174,2780.0,96.219392,100000.0,4.0,96.389174

In [24]:
test_data.shape

(61146, 59)

Our **testing** data has 61,146 rows and 59 features

**Test** data has 59 features, two less than training data. The dropped features are below

In [30]:
np.setdiff1d(np.array(train_data.columns), np.array(test_data.columns))

array(['bond_id', 'trade_price'], dtype=object)

In [38]:
null_arr = [train_data[col].isnull().sum() for col in train_data.columns]

In [43]:
sum(null_arr)

439351

In [49]:
train_data.curve_based_price_last10.isnull().sum()

17669

In [50]:
train_data.loc[0,'curve_based_price_last10']

nan